2021년 3월 15일 실습1

###변수

####type() 함수

In [18]:
boolVar=True
int_Var=0
floatVar_=0.0   #변수명은 숫자와 언더바로 시작 불가
str=""

myVar=100
print(type(myVar))
myVar=100.0
print(type(myVar))

<class 'int'>
<class 'float'>

####id() 함수

변수가 가리키는 객체의 주소값을 반환하는 함수

In [19]:
a=100
b=50
print(id(a),"=",id(100))
print(id(b),"=",id(50))

a=50
print(id(a))
print(id(b))

94430325847648 = 94430325847648
94430325846048 = 94430325846048
94430325846048
94430325846048

###숫자 자료형

In [20]:
a=100
b=50
result=a+b
print(a,"+",b,"=",result)

result=a-b
print(a,"-",b,"=",result)
result=a*b
print(a,"*",b,"=",result)
result=a/b
print(a,"/",b,"=",result)

100 + 50 = 150
100 - 50 = 50
100 * 50 = 5000
100 / 50 = 2.0

###불형

In [21]:
a=True
print(a)
print(type(a))

a=(100==100)
b=(10>100)
print(a,b)

True
<class 'bool'>
True False

###문자형

In [22]:
a="파이썬 만세"
print(a)
print(type(a))

#문자열 중간에 따옴표를 출력하고 싶으면 다른 따옴표로 묶어줌
print('큰 따옴표는 " 모양이다')
print("작은 따옴표는 ' 모양이다")   

#백슬래시 뒤에 따옴표를 써도 글자로 인식함
a="큰 따옴표는 \" 모양이다"
b='작은 따옴표는 \' 모양이다'   
print(a, b)

#따옴표 3개를 연속해 묶으면 여러 줄로 표현됨
a="파이썬 \n만세"
print(a)
a="""파이썬
만세"""
print(a)

# b='파이썬
# 만세'

#부여된 순서 번호로 각 문자 접근
a='1$ 환율은 1100입니다.'
a="currency exchange rates"
print("=========================")
print("\n01234567890123456789012")
print(a)
print("=========================")
print(a[0])
print(a[1])
print(a[-1])
print(a[-2])
print(a[7:14])

파이썬 만세
<class 'str'>
큰 따옴표는 " 모양이다
작은 따옴표는 ' 모양이다
큰 따옴표는 " 모양이다 작은 따옴표는 ' 모양이다
파이썬
만세
파이썬
만세
=========================

01234567890123456789012
currency exchange rates
=========================
c
u
s
e
y excha

###숫자 vs 문자열

#### 100 vs "100"

In [3]:
num=100
strnum="100"
print(type(num))
print(type(strnum))

print(num+num)
print(strnum+strnum)
# print(strnum+num)     에러 발생

<class 'int'>
<class 'str'>
200
100100

#### 산술연산

In [8]:
a,b,c="100","123.456","99999999"
print(int(a)+1, float(b)+1, int(c)+1)
print(a+"1", b+"7", c+"9999999")
# print(a+1, b+1, c+1)     에러 발생

101 124.456 100000000
1001 123.4567 999999999999999

###수식의 표현

In [4]:
#2개 이상의 변수 선언
a=5; b=3
print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)
a,b=5,3
print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)

print("연산자 우선 순위")
a,b,c=2,3,4
print(a+b-c, a+b*c, a+b/c)

8 2 15 1.6666666666666667 1 2 125
8 2 15 1.6666666666666667 1 2 125
연산자 우선 순위
1 14 2.75

###연산

In [12]:
a=100
b=200
print(a==b, a!=b, a>b, a<b, a>=b, a<=b, sep=', ')

False, True, False, True, False, True
200

In [16]:
a=100
print((a>100) and (a<200))
print((a>100) or (a<200))

if(7): print("True1")
if(0): print("True2")

False
True
True1

###입출력

In [17]:
print("Hello world!")
eng=input("영어 점수를 입력하시오: ")   #사용자 입력
math=input("수학 점수를 입력하시오: ")
total=eng+math
print("총점=", total)

eng=int(input("영어 점수를 입력하시오: "))
math=int(input("수학 점수를 입력하시오: "))
total=eng+math
print("총점=", total)

name=input("이름을 입력하시오: ")
print(name+"님 반갑습니다.")

Hello world!
영어 점수를 입력하시오: 78
수학 점수를 입력하시오: 29
총점= 7829
영어 점수를 입력하시오: 78
수학 점수를 입력하시오: 29
총점= 107
이름을 입력하시오: 차수빈
차수빈님 반갑습니다.