2021년 4월 5일 실습3

###리스트

####실습1: 리스트 생성

In [1]:
empty=[]
number=[1,2,3]
strings=['new','face']
numandstr=[1,2,3,'new','face']
listinlist=[[1,3,5],[2,4,6]]
odd=[1,3,5,7,9]

print(odd[0])
print(odd[1])
print(odd[4])
print(odd[-1])

1
3
9
9

####실습2: 원소 추가

In [7]:
aa=[]
aa.append(0)    #aa[0]=0 오류!!!!!
print(aa)

aa=[]
for i in range(4):
    aa.append(0)
print(aa)
print(len(aa))

#print(aa[4]) 오류!!!!!

[0]
[0, 0, 0, 0]
4

####실습3: 리스트와 if문

In [16]:
import random

numbers=[random.randrange(0,10) for _ in range(0,10)]
print("생성된 리스트:",numbers)

for i in range(10):
    if i not in numbers:
        print("숫자 %d는(은) 리스트에 없네요." %(i+1))

생성된 리스트: [1, 1, 5, 2, 3, 3, 4, 3, 0, 3]
숫자 7는(은) 리스트에 없네요.
숫자 8는(은) 리스트에 없네요.
숫자 9는(은) 리스트에 없네요.
숫자 10는(은) 리스트에 없네요.

In [23]:
#계산기 프로그램

select=input(("1.입력한 수식 계산\t2.두 수 사이의 합계:  "))
if select=='1':
    exp=input("***수식을 입력하세요: ")
    ans=eval(exp)
    print("%s 결과는 %.2f입니다." %(exp,ans))

elif select=='2':
    n1=int(input("***첫번째 정수를 입력하세요: "))
    n2=int(input("***두번째 정수를 입력하세요: "))
    hap=0
    for i in range(n1,n2+1):
        hap+=i
    print("%d+%d+...+%d 결과는 %d입니다." %(n1,n1+1,n2,hap))

else: print("1 또는 2를 입력해 주세요.")

1.입력한 수식 계산	2.두 수 사이의 합계:  2
***첫번째 정수를 입력하세요: 6
***두번째 정수를 입력하세요: 17
6+7+...+17 결과는 138입니다.

####실습4: 리스트와 for문

In [24]:
aa=[0,0,0,0]
hap=0
for i in range(4):
    aa[i]=int(input(f'{i+1}번째 숫자: '))
    hap+=aa[i]

print("합계 ==>",hap)

1번째 숫자: 1
2번째 숫자: 2
3번째 숫자: 5
4번째 숫자: 6
합계 ==> 14

In [26]:
aa,bb=[],[]; value=0
for _ in range(0,100):
    aa.append(value)
    value+=2

for i in range(0,100):
    bb.append(aa[99-i])     #99번째 원소->0번째
print("bb[0]에는 %d이, bb[99]에는 %d이 입력됩니다." %(bb[0],bb[99]))

bb[0]에는 198이, bb[99]에는 0이 입력됩니다.

####실습5: 값 접근

In [ ]:
aa=[10,20,30,40]
print("aa[-1]은 %d, aa[-2]는 %d" %(aa[-1],aa[-2]))

print(aa[0:3])
print(aa[2:4])

print(aa[2:])
print(aa[:2])

aa=[10,20,30]; bb=[40,50,60]
print(aa+bb)
print(aa*3)
print(aa)
print(bb)

aa[-1]은 40, aa[-2]는 30
[10, 20, 30]
[30, 40]
[30, 40]
[10, 20]
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 10, 20, 30, 10, 20, 30]
[10, 20, 30]
[40, 50, 60]

####실습6: 리스트 함수

In [31]:
myList=[30,10,20]
print("현재 리스트: %s" %myList)
myList.append(40); print(myList)
print("pop()으로 추출한 값: %s" %myList.pop()); print(myList)   #기존 리스트에 적용되고, 추출값 반환함!!!!!

myList.sort(); print(myList)
myList.reverse(); print(myList)
myList.insert(2,222); print(myList)
myList.remove(222); print(myList)
myList.extend([77,88,77]); print(myList)    #extend(77,88,77) 오류남!!!!! 요소 하나만 취함
myList.append([77,88,77]); print(myList)

print("20값의 위치: %d" %myList.index(20))
print("77값의 개수: %d" %myList.count(77))

현재 리스트: [30, 10, 20]
[30, 10, 20, 40]
pop()으로 추출한 값: 40
[30, 10, 20]
[10, 20, 30]
[30, 20, 10]
[30, 20, 222, 10]
[30, 20, 10]
[30, 20, 10, 77, 88, 77]
[30, 20, 10, 77, 88, 77, [77, 88, 77]]
20값의 위치: 1
77값의 개수: 2

In [ ]:
#list.sort() vs sorted(list)

import random
List=[randome.randrange(100) for _ in range(20)]

print("정렬된 리스트:",sorted(List))    #기존 리스트는 그대로고, 정렬된 새 리스트 반환함
print("현재 리스트:",List)
print("정렬된 리스트:",List.sort())     #기존 리스트를 정렬하되 반환값은 None!!!!!
print("현재 리스트:",List)
print()

###2차원 리스트

In [ ]:
list1,list2=[],[]
value=1

#2차원 리스트 생성
for _ in range(0,3):
    for _ in range(0,4):
        list1.append(value)
        value+=1
    list2.append(list1)
    list1=[]

#출력
for i in range(0,3):
    for k in range(0,4):
        print("%4d" %list2[i][k], end='')   #리스트명[행][열]
    print()

   1   2   3   4
   5   6   7   8
   9  10  11  12

###딕셔너리

In [ ]:
student1={"학번":1000, "이름":'차수빈', "학과":'컴퓨터공학과'}
print(student1)

#연락처 추가
student1['연락처']='010-1111-2222'
print(student1)

#학과 수정
student1['학과']='휴먼기계바이오공학부'
print(student1)

#학과 삭제
del(student1['학과'])
print(student1)

#키 중복
student1={"학번":1000, "이름":'차수빈', "학과":'휴먼기계바이오공학부', "학번":2000}
print(student1)

#키로 값에 접근
print(student1['학번'])
print(student1['이름'])
print(student1['학과'])
print(student1.get('이름'))

#print(student1['주소'])
print(student1.get('주소'))     #없는 키 찾을 때 딕셔너리명.get(키)를 사용

#모든 키/값 반환
print(student1.keys())
print(list(student1.keys()))
print(student1.values())

#튜플
print(student1.items())

print('이름' in student1)
print('주소' in student1)

{'학번': 1000, '이름': '차수빈', '학과': '컴퓨터공학과'}
{'학번': 1000, '이름': '차수빈', '학과': '컴퓨터공학과', '연락처': '010-1111-2222'}
{'학번': 1000, '이름': '차수빈', '학과': '휴먼기계바이오공학부', '연락처': '010-1111-2222'}
{'학번': 1000, '이름': '차수빈', '연락처': '010-1111-2222'}
{'학번': 2000, '이름': '차수빈', '학과': '휴먼기계바이오공학부'}
2000
차수빈
휴먼기계바이오공학부
차수빈
None
dict_keys(['학번', '이름', '학과'])
['학번', '이름', '학과']
dict_values([2000, '차수빈', '휴먼기계바이오공학부'])
dict_items([('학번', 2000), ('이름', '차수빈'), ('학과', '휴먼기계바이오공학부')])
True
False

In [33]:
netflix={}
netflix['드라마']='스위트홈'
netflix['등장인물']='차현수'
netflix['나이']='19'
netflix['괴물여부']='O'

for i in netflix.keys():
    print(f'{i} ==> {netflix[i]}')

드라마 ==> 스위트홈
등장인물 ==> 차현수
나이 ==> 19
괴물여부 ==> O

###zip()

동일한 개수로 이루어진 자료형을 묶어주는 역할. 짝지어지지 않는 것들은 무시.

In [35]:
print(list(zip([1,2,3],[4,5,6])))
print(list(zip([1,2,3],[4,5,6],[7,8,9])))
list(zip("abc","def"))

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [34]:
foods=["떡볶이","짜장면","피자","치킨","삼겹살","맥주"]
sides=["오뎅","단무지","김치"]
for a,b in zip(foods,sides):
    print(a,'==>',b)

떡볶이 ==> 오뎅
짜장면 ==> 단무지
피자 ==> 김치